<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
   
</head>
<body id="page-top">
   <div id="wrapper">
       <%include sidebar%>
      <div class="container">
          <%include header %>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                           <form action="" method="post">
                                <div>
                                        <label for="zoneName">zoneName</label>
                                        <input type="text" name="zoneName">
                                </div>
                                <div>
                                    <label for="">coordinates</label>
                                    <div>
                                        <label for="">cord1</label>
                                        <div> <label for="">long</label>
                                            <input type="number" name="coord1" step="any" style="width:4vw">
                                            <label for="">lat</label>
                                            <input type="number" name="coord1" step="any" style="width:4vw">
                                        </div>
                                       
                                    </div>
                                    <div>
                                        <label for="">cord2</label>
                                        <div> <label for="">long</label>
                                            <input type="number" name="coord2" step="any" style="width:4vw">
                                            <label for="">lat</label>
                                            <input type="number" name="coord2" step="any" style="width:4vw">
                                        </div>
                                    </div>
                                    <div>
                                        <label for="">cord3</label>
                                        <div> <label for="">long</label>
                                            <input type="number" name="coord3" step="any" style="width:4vw">
                                            <label for="">lat</label>
                                            <input type="number" name="coord3" step="any" style="width:4vw">
                                        </div>
                                    </div>
                                        <div>
                                        <label for="">cord4</label>
                                        <div> <label for="">long</label>
                                            <input type="number" name="coord4" step="any" style="width:4vw">
                                            <label for="">lat</label>
                                            <input type="number" name="coord4" step="any" style="width:4vw">
                                        </div>
                                    </div>
                                    <div>
                                            <label for="">cord5</label>
                                            <div> <label for="">long</label>
                                                <input type="number" name="coord5" step="any" style="width:4vw">
                                                <label for="">lat</label>
                                                <input type="number" name="coord5" step="any" style="width:4vw">
                                            </div>
                                    </div>
                                    <button type="submit">submit zone</button>
                           </form> 
                            
                               
                            </div>
                            <div>

                            </div>
                           

                        </div>
                     </div>
                </div>
            </div>               
      </div> 
   </div> 
</body>
</html>