<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
   
</head>
<body id="page-top">
<div id="wrapper">
    <%include sidebar%>
        <div class="container">
            <%include header%>
                <!-- Outer Row -->
                <div class="row justify-content-center">
            
                  <div class="col-xl-10 col-lg-12 col-md-9">
            
                    <div class="card o-hidden border-0 shadow-lg my-5">
                      <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                       <form action="/_hotel/createHotel" method="POST" >
                           <div>
                                <label for="">Hotel Name</label>
                                <input type="text"  name='name'>
                           </div> <br>
                           <div>
                                <label for="">Address</label>
                                <input type="text" name="address">
                           </div><br>
                           <div>
                                <label for="">location</label>
                                <label for="">long</label>
                                <input type="number" step="any" name="long" style="width:4vw">
                                <label for="" name="lat">lat</label>
                                <input type="number" step="any" name ="lat" style="width:4vw">
                           </div><br>
                           <div>
                             <label for="zones">zones</label>
                             <select name="zoneName" id="">
                                <% zoneList.forEach(function(zone){ %>
                                   <option value=<%=zone.zoneName %> ><%=zone.zoneName%></option>
                                 <% }) %>
                                </select>
                           </div>
                           <div> 
                                <label for="">single Rooms</label>
                                <input type="number" name="singleRooms">
                            </div><br>
                            <div>
                                    <label for="">Double Rooms</label> 
                                    <input type="text" name="doubleRooms">
                                    
                            </div><br>
                            <button type="submit">create Hotel</button>
                       </form>
                      </div>
                    </div>
            
                  </div>
            
                </div>
            
              </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>
    
</body>
</html>